@model HospitalMVC.Models.NewsItem
@{
    ViewData["Title"] = "Create News Item";
}

<div class="container">
    <div class="row align-items-start">
        <div class="col-md-12">
            <h2> Add a news story</h2>

            <!-- Create Form -->
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control"/>
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content">Content:</label>
                    <input asp-for="Content" class="form-control"/>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Url">Url:</label>
                    <input asp-for="Url" class="form-control"/>
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Date">Date:</label>
                    <input asp-for="Date" class="form-control"/>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>

                <input type="submit" value="Add news story" class="btn btn-outline-primary"/>
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
        
        <div class="col-md-3 offset-md-3">
            @* <a asp-page="AddDoctor" class="btn btn-outline-primary">Add Doctors</a> *@
            @* <a asp-page="AddPatient" class="btn btn-outline-primary">Add Patients</a> *@
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
