@page "/"

<PageTitle>Home</PageTitle>

<h1>Drinks App</h1>

<p>Welcome to the Drinks app!</p>
<p>In the tab "Available Drinks" you can see all the drinks.</p>
<p>You can also add new drinks in the tab "New Drink".</p>
